*.bgn
*.bit
*.bld
*.c
*.cmd
*.cmd_log
*.csv
*.dat
*.dbg
*.debug
*.didat
*.drc
*.edif
*.fig
*.gise
*.html
*.ini
*.jou
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.nlf
*.pad
*.par
*.pcf
*.ppr
*.prj
*.projectmgr
*.psg
*.ptwx
*.sdb
*.sdbl
*.sdbx
*.sdf
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vdb
*.vhd
*.wcfg
*.wdb
*.wdf
*.wpc
*.xbcd
*.xise
*.xml
*.xmsgs
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt
*.asv
*/Verilog/SignalDb/*
*/Verilog/netgen/*
*/Verilog/Data/*
*/Verilog/iseconfig/*
_1
pn_info
Lab_2/Matlab/test.m
Lab_2/Verilog/isim/*
