
*.bgn
*.bit
*.bld
*.cmd
*.cmd_log
*.csv
*.debug
*.drc
*.edif
*.gise
*.html
*.ini
*.jou
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.nlf
*.pad
*.par
*.pcf
*.ppr
*.prj
*.projectmgr
*.psg
*.ptwx
*.sdbl
*.sdbx
*.sdf
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vhd
*.wcfg
*.wdb
*.wdf
*.wpc
*.xbcd
*.xise
*.xml
*.xmsgs
*.xpi
*.xreport
*.xrpt
*.xst
*.xwbt
Lab_2/Verilog/isim/*
Lab_2/Matlab/test.m
