NET "Clk" LOC = AE15;
NET "Reset" LOC = L10;
NET "X_re[0]" LOC = K10;
NET "X_re[1]" LOC = M3;
NET "X_re[2]" LOC = M1;
NET "X_re[3]" LOC = M8;
NET "X_re[4]" LOC = M6;
NET "X_re[5]" LOC = M10;
NET "X_re[6]" LOC = M9;
NET "X_re[7]" LOC = P3;
NET "X_re[8]" LOC = P1;
NET "X_re[9]" LOC = N6;
NET "X_re[10]" LOC = P6;
NET "X_re[11]" LOC = P10;
NET "X_im[0]" LOC = N9;
NET "X_im[1]" LOC = R2;
NET "X_im[2]" LOC = R1;
NET "X_im[3]" LOC = R7;
NET "X_im[4]" LOC = R6;
NET "X_im[5]" LOC = R9;
NET "X_im[6]" LOC = P8;
NET "X_im[7]" LOC = T3;
NET "X_im[8]" LOC = T1;
NET "X_im[9]" LOC = R8;
NET "X_im[10]" LOC = T8;
NET "X_im[11]" LOC = R10;
NET "Y_re[0]" LOC = G4;
NET "Y_re[1]" LOC = G3;
NET "Y_re[2]" LOC = J2;
NET "Y_re[3]" LOC = J1;
NET "Y_re[4]" LOC = K5;
NET "Y_re[5]" LOC = J5;
NET "Y_re[6]" LOC = L2;
NET "Y_re[7]" LOC = L1;
NET "Y_re[8]" LOC = L9;
NET "Y_re[9]" LOC = L8;
NET "Y_re[10]" LOC = N2;
NET "Y_re[11]" LOC = N1;
NET "Y_re[12]" LOC = N5;
NET "Y_re[13]" LOC = N4;
NET "Y_re[14]" LOC = N8;
NET "Y_re[15]" LOC = N7;
NET "Y_re[16]" LOC = R4;
NET "Y_im[0]" LOC = R3;
NET "Y_im[1]" LOC = P5;
NET "Y_im[2]" LOC = R5;
NET "Y_im[3]" LOC = U5;
NET "Y_im[4]" LOC = T4;
NET "Y_im[5]" LOC = U7;
NET "Y_im[6]" LOC = T6;
NET "Y_im[7]" LOC = U9;
NET "Y_im[8]" LOC = U8;
NET "Y_im[9]" LOC = V3;
NET "Y_im[10]" LOC = V1;
NET "Y_im[11]" LOC = V7;
NET "Y_im[12]" LOC = V6;
NET "Y_im[13]" LOC = W2;
NET "Y_im[14]" LOC = W1;
NET "Y_im[15]" LOC = B2;
NET "Y_im[16]" LOC = B1;
